@import"generales";
@import"titulo";
@import "nav";
@import"footer";





h2{
    padding: 45px;
    margin: 0px 0px 120px 50px;
    color: black;
    
    }






    


aside {
    grid-area: my-aside;
    background-color: rgb(220, 245, 246);
}

section {
    grid-area: my-section;
    background-color: white;
}



@media (min-width: 600px) and (max-width: 1000px) {
    main {
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 150px 1px 1fr 100px;
    grid-template-areas: 
        "my-header my-header my-header"
        "my-nav my-nav my-nav"
        "my-aside my-section my-section"
        "my-footer my-footer my-footer"
    }
}

@media (min-width: 1001px) {
    main {
    grid-template-columns:200px 1fr 200px ;
    grid-template-rows:   200px 2px 1fr 100px;
    grid-template-areas:
        "my-header   my-header   my-header"
        "my-nav      my-nav      my-nav   "
        "my-section  my-section  my-aside"
        "my-footer   my-footer   my-footer"
    }
}





